<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>User Form</h2>
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" placeholder="Type Your Name" required="1">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" required="1">
    </div>
    <div class="form-group">
      <label for="category_ids">Categories:</>
      <select class="form-control" multiple="1" required="1" autofocus="1" name="category_ids">
        {% for n in a %}<option>{{ n.name }}</option>{% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <form action="/review">
    <button type="submit" class="btn btn-default">Whach All</button>
</div>
</body>
</html>
