<form action="/signup" method="POST">
    <h1>User Form</h1>
    <input type="text" name="name" required="1"></input>
    <input type="email" name="email" required="1"></input>
    <select multiple="1" required="1" autofocus="1" name="category_ids">
      {% for n in a %}<option>{{ n.name }}</option>{% endfor %}
    </select>
    <input type="submit" value="Confirm"></input>
</form>
