<form action="/signup" method="post">
    <h1>User Form</h1>
    {{a}}
    <input type="text" name="name" required="1"></input>
    <input type="email" name="email" required="1"></input>
    <input type="checkbox" name="category_ids"></input>
    <input type="submit" value="Confirm"></input>
</form>
