<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Table</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Groups</th>
      </tr>
    </thead>
    <tbody>
      {% for n in records %}
      <tr>
          <td>{{n.name}}</td>
          <td>{{n.email}}</td>
          <td>{% for nn in n.category_ids%}{{nn.name}} {% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

</body>
</html>



